h1, h2{
    font-family: 'Oswald', sans-serif;
}
body{
    color: darkblue;
    font-family: "Open Sans", sans-serif;
    margin: 10px 50px;
    width: 950px;
    background-color: ivory;
    
}
img{
    float:left;
    display:inline-block;
    vertical-align: middle;
}
li{
display: inline;
}
#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}
.Left{
    float: left;
    width: 300px;
    padding-top: 1cm;
    padding: 0.5cm
}
.right{
    float: right;
    width: 300px;
    padding-top: 0.5cm;
}
.center{
    margin-left: 300px;
    margin-right: 300px;
    width: 300px;
    padding-top: 0.5cm;
    padding: 0.5cm
}